  <%- include('header'); -%>
  <div class="container-fluid pt-2">
    <!-- Example row of columns -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      Check out the <a href="/meme_designer" class="alert-link">meme generator.</a>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row justify-content-center text-center">
      <h2>Front Page Memes</h2>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-sm">
        <div class="card mb-3">
          <img class="card-img-top" src="./static/images/samplelg.jpg" alt="Card image cap">
          <div class="card-body m-0 p-1">
            <h5 class="card-title p-0 m-0">+46</h5>
          </div>

          <div>
            <button type="button" class="btn btn-success" ng-click="Cancel()" aria-haspopup="true" aria-expanded="false" style="width:50%; float: left;">
              ⬆ Kek
            </button>

            <button type="button" class="btn btn-danger" ng-click="Proceed()" aria-haspopup="true" aria-expanded="false" style="width:50%;">
            Cringe ⬇ 
            </button>
          </div>

          <div class="card-footer m-0 p-0">
            <small class="text-muted">by normieuser</small>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card mb-3">
          <img class="card-img-top" src="./static/images/samplelg.jpg" alt="Card image cap">
          <div class="card-body m-0 p-1">
            <h5 class="card-title p-0 m-0">+46</h5>
            <p class="card-text p-0 m-0">Certified kek.</p>
          </div>
          <div class="card-footer m-0 p-0">
            <small class="text-muted">by normieuser</small>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card mb-3">
          <img class="card-img-top" src="./static/images/samplelg.jpg" alt="Card image cap">
          <div class="card-body m-0 p-1">
            <h5 class="card-title p-0 m-0">+46</h5>
            <p class="card-text p-0 m-0">Certified kek.</p>
          </div>
          <div class="card-footer m-0 p-0">
            <small class="text-muted">by normieuser</small>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <footer>
      <p>&copy; MemeST 2019.</p>
    </footer>
  </div> <!-- /container -->


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

  </html>
