<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Site Title</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../style/style.css">

</head>

<body>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron p-0 pt-4">
    <div class="container">
      <div class="row">
        <div class='col-12'>
          <h1 class="display-3">Login</h1>
        </div>
      </div>
    </div>
  </div>

    <!-- Example row of columns -->
<!--
    <div class="container text-center mt-3 mb-4">
      <h1 class="display-3">New Author</h1>
    </div>
-->
    <div class="container">
      <!-- Example row of columns -->
      <div class="row justify-content-center text-center">
        <!-- MAY NEED TO CHANGE FORM ACTION URL AS ACCORDING TO ROUTES. THANKS -->
        <form action="/doctor/login" method="post">
          <div class="form-group">
            <input type="text" class="form-control" name="email" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary createbut">Login</button>

        </form>

      </div>
  </div> <!-- /container -->

  <div class="jumbotron p-0 pt-3 mt-3">
    <div class="container">
      <div class="row">
        <div class='col-12'>
          <h1 class="display-3">Register</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row justify-content-center text-center">
      <!-- MAY NEED TO CHANGE FORM ACTION URL AS ACCORDING TO ROUTES. THANKS -->
      <form action="/doctor/register" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="name" id="name" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="email" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="bio" id="bio" placeholder="Bio">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="imgUrl" id="imgUrl" placeholder="Image URL">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="confirmpw" id="confirmpw" placeholder="Confirm Password">
        </div>
        <button type="submit" class="btn btn-primary createbut">Login</button>

      </form>

    </div>
</div> <!-- /container -->

<div class="container">
    <hr>
  <footer>
    <p>&copy; Company 2017</p>
  </footer>
</div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
</body>

</html>
