.createbut {
  width: 400px;
}

.fill {
  min-height: 100vh;
}

.limhi {
  height: 200px;
}

.grid__brick {
  border: 2px solid white;
}

.imgselected {
  border: 2px solid red;
}

.templator {
  background-image: url("/static/images/xv.png");
  background-repeat: repeat;
  background-color: #B7B9B8;
  color: black;
  display: none;
}

@font-face {
  font-family: Impact;
  /* font-weight: 400; */
  font-style: normal;
  /*font-display: swap;
  Read next point
  unicode-range: U+000-5FF; */
  /* Download only latin glyphs */
  src: local('Impact'), url('/static/fonts/impact.woff') format('woff');
}
