.createbut {
  width: 400px;
}
.fill {
  min-height: 100vh;
}
.limhi
{
  height:200px;
}
.grid__brick
{
  border:2px solid white;
}
.imgselected
{
  border:2px solid red;
}
.templator {
  background-image: url("/images/xv.png");
  background-repeat: repeat;
  background-color: #B7B9B8;
  color: black;
}
